<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Space</title>
</head>
<body>
<h1>Add New Coworking Space</h1>
<form th:action="@{/admin/spaces/add}" th:object="${space}" method="post">
  Space ID: <input type="number" th:field="*{spaceID}" required><br>
  Type: <input type="text" th:field="*{spaceType}" required><br>
  Price/Hour: <input type="number" step="0.01" th:field="*{pricePerHour}" required><br>
  Available: <input type="checkbox" th:field="*{isAvailable}"><br>
  <button type="submit">Add Space</button>
</form>
<a href="/admin/panel">Back to Admin Panel</a>
</body>
</html>