<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Bookings</title>
</head>
<body>
<h1>Your Reservations</h1>
<table border="1">
  <tr>
    <th>Booking ID</th>
    <th>Space</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <tr th:each="booking : ${bookings}">
    <td th:text="${booking.bookingID}"></td>
    <td th:text="${booking.space.spaceType}"></td>
    <td th:text="${booking.date}"></td>
    <td th:text="${booking.startTime} + ' - ' + ${booking.endTime}"></td>
  </tr>
</table>
<a href="/customer/panel">Back to Customer Panel</a>
</body>
</html>